<%= _.template(require('./../includes/header.html'))() %>
<main class="main">
    <div class="container">
        <div class="content content_settings">
            <form action="">
                <h2>Settings</h2>
                <div class="row">
                    <div class="col-12 col-lg-6 pr-lg-0">
                        <div class="settings-photo">
                            <div class="form-group form-group_40">
                                <div class="profile-photo">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile">
                                        <label class="custom-file-area d-flex align-items-center justify-content-center" for="customFile">
                                            <span class="btn btn_4 btn_w100">Change photo</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 pl-lg-0">
                        <div class="settings-form">
                            <div class="form-group form-group_20">
                                <input class="form-control" type="text" placeholder="Full Name">
                            </div>
                            <div class="form-group form-group_30">
                                <input class="form-control" type="text" placeholder="Age">
                            </div>
                            <div class="form-group form-group_30">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline1">Male</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline2">Female</label>
                                </div>
                            </div>
                            <div class="form-group form-group_40">
                                <textarea class="form-control" placeholder="About"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6 pr-lg-0">
                        <div class="settings-photo settings-switch">
                            <div class="form-group form-group_40">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch">
                                    <label class="custom-control-label" for="customSwitch">Notify me of site updates</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 pl-lg-0">
                        <div class="settings-form">
                            <div class="form-group form-group_20">
                                <button class="btn btn_w100">SAVE PREFERENCES</button>
                            </div>
                            <div class="form-group text-center">
                                <a href="#" class="link1">Sign Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<%= _.template(require('./../includes/footer.html'))() %>