<%= _.template(require('./../includes/header-login.html'))() %>
<header class="header">
    <div class="header__firstscreen bg-login-05">
        <img class="header__bgimg img-fluid" src="./img/bg/desktop/bg-login.svg" alt="">
        <div class="header__firstscreen-wrap">
            <div class="header__row header_page">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="logo logo_header flex-grow-1 mr-auto">
                        <div class="logo__img"></div>
                        <div class="logo__text">Live&nbsp;your&nbsp;wet&nbsp;dream</div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header__form">
                            <form action="">
                                <h2 class="header-form-title text-center text-md-left">Signup&nbsp;access<br>your&nbsp;matches</h2>
                                <div class="form-group form-group_20">
                                    <input class="form-control" type="text" placeholder="Email">
                                </div>
                                <div class="form-group form-group_30">
                                    <input class="form-control" type="password" placeholder="Password">
                                </div>
                                <div class="form-group form-group_30">
                                    <button class="btn btn_w100">Sign Up</button>
                                </div>
                                <div class="form-group form-group_20">
                                    <a class="link3" href="login.html">Or Log In?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="main">
    <div class="login-slider owl-carousel">
        <div class="user-list-item user-list-item_login">
            <div class="user-list-item__pic">
                <img class="user-list-item__img img-fluid" src="img/photos/user-01.jpg" alt="">
                <a class="user-list-item__btn btn btn_w100" href="#">Claim Her</a>
            </div>
            <div class="user-list-item__inf">
                <div class="user-list-item__title d-lg-flex justify-content-lg-between align-items-lg-center">
                    <div class="user-list-item__name">Jennifer, 24</div>
                    <div class="user-list-item__dot"></div>
                    <div class="user-list-item__loc">New York (1000 km)</div>
                </div>
                <div class="compatibility compatibility_login d-flex justify-content-sm-center justify-content-lg-start">
                    <div class="compatibility__chart">
                        <img class="compatibility__img" src="img/icons/compatibility1.svg" alt="">
                        <div class="compatibility__title">Interests</div>
                    </div>
                    <div class="compatibility__chart">
                        <img class="compatibility__img" src="img/icons/compatibility2.svg" alt="">
                        <div class="compatibility__title">Location</div>
                    </div>
                    <div class="compatibility__chart">
                        <img class="compatibility__img" src="img/icons/compatibility3.svg" alt="">
                        <div class="compatibility__title">Matches</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-list-item user-list-item_login">
            <div class="user-list-item__pic">
                <img class="user-list-item__img img-fluid" src="img/photos/user-02.jpg" alt="">
                <a class="user-list-item__btn btn btn_w100" href="#">Claim Her</a>
            </div>
            <div class="user-list-item__inf">
                <div class="user-list-item__title d-lg-flex justify-content-lg-between align-items-lg-center">
                    <div class="user-list-item__name">Jennifer, 24</div>
                    <div class="user-list-item__dot"></div>
                    <div class="user-list-item__loc">New York (1000 km)</div>
                </div>
                <div class="compatibility compatibility_login d-flex justify-content-sm-center justify-content-lg-start">
                    <div class="compatibility__chart">
                        <img class="compatibility__img" src="img/icons/compatibility1.svg" alt="">
                        <div class="compatibility__title">Interests</div>
                    </div>
                    <div class="compatibility__chart">
                        <img class="compatibility__img" src="img/icons/compatibility2.svg" alt="">
                        <div class="compatibility__title">Location</div>
                    </div>
                    <div class="compatibility__chart">
                        <img class="compatibility__img" src="img/icons/compatibility3.svg" alt="">
                        <div class="compatibility__title">Matches</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-list-item user-list-item_login">
            <div class="user-list-item__pic">
                <img class="user-list-item__img img-fluid" src="img/photos/user-03.jpg" alt="">
                <a class="user-list-item__btn btn btn_w100" href="#">Claim Her</a>
            </div>
            <div class="user-list-item__inf">
                <div class="user-list-item__title d-lg-flex justify-content-lg-between align-items-lg-center">
                    <div class="user-list-item__name">Jennifer, 24</div>
                    <div class="user-list-item__dot"></div>
                    <div class="user-list-item__loc">New York (1000 km)</div>
                </div>
                <div class="compatibility compatibility_login d-flex justify-content-sm-center justify-content-lg-start">
                    <div class="compatibility__chart">
                        <img class="compatibility__img" src="img/icons/compatibility1.svg" alt="">
                        <div class="compatibility__title">Interests</div>
                    </div>
                    <div class="compatibility__chart">
                        <img class="compatibility__img" src="img/icons/compatibility2.svg" alt="">
                        <div class="compatibility__title">Location</div>
                    </div>
                    <div class="compatibility__chart">
                        <img class="compatibility__img" src="img/icons/compatibility3.svg" alt="">
                        <div class="compatibility__title">Matches</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-list-item user-list-item_login">
            <div class="user-list-item__pic">
                <img class="user-list-item__img img-fluid" src="img/photos/user-04.jpg" alt="">
                <a class="user-list-item__btn btn btn_w100" href="#">Claim Her</a>
            </div>
            <div class="user-list-item__inf">
                <div class="user-list-item__title d-lg-flex justify-content-lg-between align-items-lg-center">
                    <div class="user-list-item__name">Jennifer, 24</div>
                    <div class="user-list-item__dot"></div>
                    <div class="user-list-item__loc">New York (1000 km)</div>
                </div>
                <div class="compatibility compatibility_login d-flex justify-content-sm-center justify-content-lg-start">
                    <div class="compatibility__chart">
                        <img class="compatibility__img" src="img/icons/compatibility1.svg" alt="">
                        <div class="compatibility__title">Interests</div>
                    </div>
                    <div class="compatibility__chart">
                        <img class="compatibility__img" src="img/icons/compatibility2.svg" alt="">
                        <div class="compatibility__title">Location</div>
                    </div>
                    <div class="compatibility__chart">
                        <img class="compatibility__img" src="img/icons/compatibility3.svg" alt="">
                        <div class="compatibility__title">Matches</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%= _.template(require('./../includes/footer.html'))() %>