<%= _.template(require('./../includes/header.html'))() %>
<div id="page-preloader" class="preloader">
    <div class="loader"></div>
</div>
<main class="main">
    <div class="container">
        <div class="user-list">
            <div class="user-list-item">
                <div class="user-list-item__pic">
                    <img class="user-list-item__img img-fluid" src="img/photos/user-01.jpg" alt="">
                    <a class="user-list-item__btn btn btn_w100" href="#">Claim Her</a>
                </div>
                <div class="user-list-item__inf">
                    <div class="user-list-item__title d-lg-flex justify-content-lg-between align-items-lg-center">
                        <div class="user-list-item__name">Jennifer, 24</div>
                        <div class="user-list-item__dot"></div>
                        <div class="user-list-item__loc">New York (1000 km)</div>
                    </div>
                    <div class="compatibility compatibility_list d-flex justify-content-sm-center justify-content-lg-start">
                        <div class="compatibility__chart">
                            <img class="compatibility__img" src="img/icons/compatibility1.svg" alt="">
                            <div class="compatibility__title">Interests</div>
                        </div>
                        <div class="compatibility__chart">
                            <img class="compatibility__img" src="img/icons/compatibility2.svg" alt="">
                            <div class="compatibility__title">Location</div>
                        </div>
                        <div class="compatibility__chart">
                            <img class="compatibility__img" src="img/icons/compatibility3.svg" alt="">
                            <div class="compatibility__title">Matches</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-list-item">
                <div class="user-list-item__pic">
                    <img class="user-list-item__img img-fluid" src="img/photos/user-02.jpg" alt="">
                    <a class="user-list-item__btn btn btn_w100" href="#">Claim Her</a>
                </div>
                <div class="user-list-item__inf">
                    <div class="user-list-item__title d-lg-flex justify-content-lg-between align-items-lg-center">
                        <div class="user-list-item__name">Jennifer, 24</div>
                        <div class="user-list-item__dot"></div>
                        <div class="user-list-item__loc">New York (1000 km)</div>
                    </div>
                    <div class="compatibility compatibility_list d-flex justify-content-sm-center justify-content-lg-start">
                        <div class="compatibility__chart">
                            <img class="compatibility__img" src="img/icons/compatibility1.svg" alt="">
                            <div class="compatibility__title">Interests</div>
                        </div>
                        <div class="compatibility__chart">
                            <img class="compatibility__img" src="img/icons/compatibility2.svg" alt="">
                            <div class="compatibility__title">Location</div>
                        </div>
                        <div class="compatibility__chart">
                            <img class="compatibility__img" src="img/icons/compatibility3.svg" alt="">
                            <div class="compatibility__title">Matches</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-list-item">
                <div class="user-list-item__pic">
                    <img class="user-list-item__img img-fluid" src="img/photos/user-03.jpg" alt="">
                    <a class="user-list-item__btn btn btn_w100" href="#">Claim Her</a>
                </div>
                <div class="user-list-item__inf">
                    <div class="user-list-item__title d-lg-flex justify-content-lg-between align-items-lg-center">
                        <div class="user-list-item__name">Jennifer, 24</div>
                        <div class="user-list-item__dot"></div>
                        <div class="user-list-item__loc">New York (1000 km)</div>
                    </div>
                    <div class="compatibility compatibility_list d-flex justify-content-sm-center justify-content-lg-start">
                        <div class="compatibility__chart">
                            <img class="compatibility__img" src="img/icons/compatibility1.svg" alt="">
                            <div class="compatibility__title">Interests</div>
                        </div>
                        <div class="compatibility__chart">
                            <img class="compatibility__img" src="img/icons/compatibility2.svg" alt="">
                            <div class="compatibility__title">Location</div>
                        </div>
                        <div class="compatibility__chart">
                            <img class="compatibility__img" src="img/icons/compatibility3.svg" alt="">
                            <div class="compatibility__title">Matches</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-list-item">
                <div class="user-list-item__pic">
                    <img class="user-list-item__img img-fluid" src="img/photos/user-04.jpg" alt="">
                    <a class="user-list-item__btn btn btn_w100" href="#">Claim Her</a>
                </div>
                <div class="user-list-item__inf">
                    <div class="user-list-item__title d-lg-flex justify-content-lg-between align-items-lg-center">
                        <div class="user-list-item__name">Jennifer, 24</div>
                        <div class="user-list-item__dot"></div>
                        <div class="user-list-item__loc">New York (1000 km)</div>
                    </div>
                    <div class="compatibility compatibility_list d-flex justify-content-sm-center justify-content-lg-start">
                        <div class="compatibility__chart">
                            <img class="compatibility__img" src="img/icons/compatibility1.svg" alt="">
                            <div class="compatibility__title">Interests</div>
                        </div>
                        <div class="compatibility__chart">
                            <img class="compatibility__img" src="img/icons/compatibility2.svg" alt="">
                            <div class="compatibility__title">Location</div>
                        </div>
                        <div class="compatibility__chart">
                            <img class="compatibility__img" src="img/icons/compatibility3.svg" alt="">
                            <div class="compatibility__title">Matches</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-list-title text-md-center title-mark title-mark_center">Claim 2 of these sexy matches by<br>SigningIp and I`ll reward you with $20 gift card!</div>
        <div class="user-list-extra">
            <div class="user-list-extra-item">
                <div class="user-list-extra-item__pic">
                    <img class="user-list-extra-item__img img-fluid" src="img/photos/user-extra-01.jpg" alt="">
                    <div class="user-list-extra-item__txt">Confidential</div>
                </div>
                <div class="user-list-extra-item__inf">
                    <div class="user-list-extra-item__name">Jennifer, 24</div>
                    <div class="user-list-extra-item__loc">New York&nbsp;<br class="user-list-extra-item__br">(1000 km)</div>
                </div>
            </div>
            <div class="user-list-extra-item">
                <div class="user-list-extra-item__pic">
                    <img class="user-list-extra-item__img img-fluid" src="img/photos/user-extra-02.jpg" alt="">
                    <div class="user-list-extra-item__txt">Confidential</div>
                </div>
                <div class="user-list-extra-item__inf">
                    <div class="user-list-extra-item__name">Jennifer, 24</div>
                    <div class="user-list-extra-item__loc">New York&nbsp;<br class="user-list-extra-item__br">(1000 km)</div>
                </div>
            </div>
            <div class="user-list-extra-item">
                <div class="user-list-extra-item__pic">
                    <img class="user-list-extra-item__img img-fluid" src="img/photos/user-extra-03.jpg" alt="">
                    <div class="user-list-extra-item__txt">Confidential</div>
                </div>
                <div class="user-list-extra-item__inf">
                    <div class="user-list-extra-item__name">Jennifer, 24</div>
                    <div class="user-list-extra-item__loc">New York&nbsp;<br class="user-list-extra-item__br">(1000 km)</div>
                </div>
            </div>
            <div class="user-list-extra-item">
                <div class="user-list-extra-item__pic">
                    <img class="user-list-extra-item__img img-fluid" src="img/photos/user-extra-04.jpg" alt="">
                    <div class="user-list-extra-item__txt">Confidential</div>
                </div>
                <div class="user-list-extra-item__inf">
                    <div class="user-list-extra-item__name">Jennifer, 24</div>
                    <div class="user-list-extra-item__loc">New York&nbsp;<br class="user-list-extra-item__br">(1000 km)</div>
                </div>
            </div>
        </div>
    </div>
</main>
<%= _.template(require('./../includes/footer.html'))() %>