*::-webkit-input-placeholder {
  color: $input_placeholder_color;
  opacity: 1;
}
*:-moz-placeholder {
  color: $input_placeholder_color;
  opacity: 1;
}
*::-moz-placeholder {
  color: $input_placeholder_color;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: $input_placeholder_color;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
.form-control {
  border: none;
  background-color: $input_bg;
  border-radius: $input_border_radius;
  padding: 1.325rem 1.625rem;
  color: $input_txt_color;
  font-family: $input_txt_family;
  font-size: $checkbox_txt_xs_size;
  line-height: $checkbox_txt_xs_lh;
  font-weight: 300;
  font-style: italic;
  &:hover {
    background-color: $input_hover_bg;
    color: $input_hover_txt_color;
  }
  &:focus {
    box-shadow: none;
    background-color: $input_hover_bg;
    color: $input_hover_txt_color;
  }
  &::placeholder {
    color: $input_placeholder_color;
    opacity: 1;
  }
  @media (min-width: 768px) {
    padding: 1.1875rem 2.9375rem 1.4375rem;
    font-size: 23px;
  }
}
input.form-control {
  height: 50px;
  @media (min-width: 768px) {
    height: 73px;
  }
}
textarea.form-control {
  border-radius: $textarea_border_radius;
  min-height: 200px;
}
.form-group_20 {
  margin-bottom: 1rem;
  @media (min-width: 768px) {
    margin-bottom: 1.25rem;
  }
}
.form-group_30 {
  margin-bottom: 1.875rem;
}
.form-group_30up {
  margin-top: 1.875rem;
}
.form-group_40 {
  margin-bottom: 1.875rem;
  @media (min-width: 768px) {
    margin-bottom: 2.5rem;
  }
}
.custom-checkbox {
  &.custom-control {
    padding-left: $checkbox_xs_padding_left;
    @media (min-width: 768px) {
      padding-left: $checkbox_padding_left;
    }
  }
  .custom-control-label {
    font-family: $checkbox_txt_family;
    font-weight: 300;
    font-style: italic;
    line-height: 20px;
    font-size: $checkbox_txt_xs_size;
    cursor: pointer;
    &::before {
      top: $checkbox_xs_top;
      left: $checkbox_xs_left;
      width: $checkbox_xs_width;
      height: $checkbox_xs_height;
      background-color: $checkbox_bg_color;
      border: $checkbox_border !important;
      outline: none !important;
      border-radius: 1rem;
    }
    &::after {
      top: $checkbox_xs_top;
      left: $checkbox_xs_left;
      width: $checkbox_xs_width;
      height: $checkbox_xs_height;
      outline: none !important;
      background: no-repeat 50% / 50% 50%;
    }
    @media (min-width: 768px) {
      & {
        font-size: $checkbox_txt_size;
        line-height: $checkbox_txt_lh;
      }
      &::before {
        top: $checkbox_top;
        left: $checkbox_left;
        width: $checkbox_width;
        height: $checkbox_height;
      }
      &::after {
        top: $checkbox_top;
        left: $checkbox_left;
        width: $checkbox_width;
        height: $checkbox_height;
      }
    }
  }
  .custom-control-input {
    &:checked {
      ~.custom-control-label {
        &::after {
          background-image: url($checkbox_bg_icon);
        }
        &::before {
          border-color: $checkbox_checked_border_color;
          background-color: $checkbox_checked_bg_color;
        }
      }
    }
    &:active {
      ~.custom-control-label {
        &::before {
          background-color: $checkbox_active_bg_color;
        }
      }
    }
    &:focus {
      ~.custom-control-label {
        &::before {
          box-shadow: none;
        }
      }
    }
  }
}

.custom-radio {
  &.custom-control {
    padding-left: $radio_xs_padding_left;
    @media (min-width: 768px) {
      padding-left: $radio_padding_left;
    }
  }
  .custom-control-label {
    font-family: $radio_txt_family;
    font-weight: 300;
    font-style: italic;
    font-size: $radio_txt_xs_size;
    line-height: $radio_txt_xs_lh;
    cursor: pointer;
    &::before {
      top: $radio_xs_top;
      left: $radio_xs_left;
      width: $radio_xs_width;
      height: $radio_xs_height;
      background-color: $radio_bg_color;
      border: $radio_border !important;
      outline: none !important;
      border-radius: 1rem;
    }
    &::after {
      top: $radio_xs_top;
      left: $radio_xs_left;
      width: $radio_xs_width;
      height: $radio_xs_height;
      outline: none !important;
      background: no-repeat 50% / 50% 50%;
    }
    @media (min-width: 768px) {
      & {
        font-size: $radio_txt_size;
        line-height: $radio_txt_lh;
      }
      &::before {
        top: $radio_top;
        left: $radio_left;
        width: $radio_width;
        height: $radio_height;
      }
      &::after {
        top: $radio_top;
        left: $radio_left;
        width: $radio_width;
        height: $radio_height;
      }
    }
  }
  .custom-control-input {
    &:checked {
      ~.custom-control-label {
        &::after {
          background-image: url($radio_bg_icon);
        }
        &::before {
          border-color: $radio_checked_border_color;
          background-color: $radio_checked_bg_color;
        }
      }
    }
    &:active {
      ~.custom-control-label {
        &::before {
          background-color: $radio_active_bg_color;
        }
      }
    }
    &:focus {
      ~.custom-control-label {
        &::before {
          box-shadow: none;
        }
      }
    }
  }
}

.custom-switch.custom-control {
  &.custom-control {
    padding-left: 3rem;
    cursor: pointer;
  }
  .custom-control-label {
    line-height: 1.8;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
    &::before {
      left: -2.875rem;
      width: 2.375rem;
      pointer-events: all;
      border-radius: 1rem;
      background-color: #f0f1f3;
      height: 19px;
      top: 2px;
      border: none;
    }
    &::after {
      top: calc(.25rem - 2px);
      left: calc(-2.875rem - 2px);
      width: calc(1.5rem - 5px);
      height: calc(1.5rem - 5px);
      background-color: #90A4A0;
      border-radius: 0.75rem;
      transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-transform .15s ease-in-out;
      transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-transform .15s ease-in-out;
    }
  }
  .custom-control-input {
    &:checked {
      ~.custom-control-label {
        &::before {
          color: #fff;
          background-color: #f0f1f3;
        }
        &::after {
          background-color: #20A892;
          -webkit-transform: translateX(1.375rem);
          transform: translateX(1.375rem);
        }
      }
    }
    &:active {
      ~.custom-control-label {
        &::before {
          background-color: #f0f1f3;
        }
      }
    }
    &:focus {
      ~.custom-control-label {
        &::before {
          box-shadow: none;
        }
      }
    }
  }
}

.custom-file {
  display: block;
  width: 150px;
  height: auto;
  margin: 0 auto;
  .custom-file-input {
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .custom-file-area {
    width: auto;
    cursor: pointer;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}

.btn {
  width: 100%;
  text-transform: uppercase;
  border-radius: 0;
  padding: 1.25rem 1.3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #fff;
  background-color: $btn_bg_color;
  &:hover {
    color: #fff;
    background-color: $btn_hover_bg_color;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
  @media (min-width: 768px) {
    & {
      width: auto;
    }
  }
  @media (min-width: 992px) {
    & {
      width: auto;
      font-size: 17px;
      padding: 2rem 2.5rem;
    }
  }
}
.btn_w100 {
  width: 100%;
}
