.header {
  background-color: #fff;
  .notice {
    display: inline-block;
    background-color: $btn_bg_color;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    padding: 6px 8px;
    line-height: 1;
    text-align: center;
    &:hover {
      background-color: $btn_hover_bg_color;
    }
    @media (min-width: 768px) {
      font-size: 15px;
      padding: 7px 9px;
    }
  }
}
.header_page {
  padding-bottom: 42px;
  @media (min-width: 768px) {
    padding-bottom: 100px;
  }
}

.header__row {
  padding: 32px 15px 0;
  @media (min-width: 768px) {
    padding: 123px 15px 0;
  }
}

.header__nav-toggle {
  padding-left: 10px;
  cursor: pointer;
  &.icon-menu::before {
    content: '';
    display: block;
    width: 23px;
    height: 15px;
    background-image: url('../img/icons/icon-menu.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
  }
  &:hover {
    opacity: 0.75;
  }
  @media (min-width: 768px) {
    display: none;
  }
}
.header__userinfo {
  display: none;
  padding-left: 24px;
  max-width: 500px;
  @media (min-width: 768px) {
    display: block;
  }
  .notice {
    position: relative;
    top: -1px;
  }
  .header__userinfo-text,
  a.header__userinfo-text {
    font-family: $font_family;
    font-size: 15px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
  }
}
.header-menu {
  display: none;
  @media (min-width: 768px) {
    display: none !important;
  }
}
.header-menu__wrap {
  padding-top: 32px;
}
.header-menu__item {
  padding: 15px;
  &:hover {
    text-decoration: none;
    .notice {
      background-color: $btn_hover_bg_color;
    }
  }
}
.header-menu__item-text {
  color: #000;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  word-break: break-all;
  padding-right: 30px;
  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.header-firstscreen-wrap {
  width: 100%;
  height: 618px;
  margin-bottom: 50px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  @media (min-width: 992px) {
    height: 850px;
    margin-bottom: 167px;
    background-image: none !important;
  }
  &.index {
    margin-bottom: 0;
    @media (min-width: 992px) {
      margin-bottom: 0;
    }
  }
  &.bg01mob {
    background-image: url('../img/bg/mobile/bg01.jpg');
  }
  &.bg02mob {
    background-image: url('../img/bg/mobile/bg02.jpg');
  }
  &.bg03mob {
    background-image: url('../img/bg/mobile/bg03.jpg');
  }
  &.bg04mob {
    background-image: url('../img/bg/mobile/bg04.jpg');
  }
  &.bg05mob {
    background-image: url('../img/bg/mobile/bg05.jpg');
  }
}

.header-firstscreen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  background-color: rgba(0,0,0,0.21);
  padding: 37px 15px 62px;
  &.header-firstscreen_main {
    flex-direction: column;
    justify-content: flex-start;
    @media (min-width: 992px) {
      padding: 0;
      background-color: transparent;
      flex-direction: row;
    }
  }
  @media (min-width: 992px) {
    padding: 0;
    background-color: transparent;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.header-block {
  width: 100%;
  @media (min-width: 992px) {
    width: 50%;
    height: 100%;
  }
  &.header-block_bg-red {
    @media (min-width: 992px) {
      background-color: $btn_bg_color;
    }
  }
  &.header-block_bg-dark {
    @media (min-width: 992px) {
      background-color: $bg_dark_1;
    }
  }
  &.header-block_bg-img {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    &.bg01 {
      @media (min-width: 992px) {
        background-image: url('../img/bg/desktop/bg01.jpg');
      }
    }
    &.bg02 {
      @media (min-width: 992px) {
        background-image: url('../img/bg/desktop/bg02.jpg');
      }
    }
    .header-block__overlay {
      @media (min-width: 992px) {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.46);
      }
    }
  }
}

.header-block__bgtext {
  height: 100%;
  display: flex;
  align-items: center;
  &.signup {
    background: url('../img/bg/mobile/bg-text-signup.svg') 50% 13% no-repeat;
    background-size: 100%;
    @media (min-width: 992px) {
      background: url('../img/bg/desktop/bg-text-signup.svg') 50% 40% no-repeat;
      background-size: 100%;
    }
  }
  &.login {
    background: url('../img/bg/mobile/bg-text-login.svg') 50% 13% no-repeat;
    background-size: 105%;
    @media (min-width: 992px) {
      background: url('../img/bg/desktop/bg-text-login.svg') 50% 14% no-repeat;
      background-size: 100%;
    }
  }
  &.index {
    background: url('../img/bg/mobile/bg-text-index.svg') 50% 50% no-repeat;
    background-size: 100%;
    @media (min-width: 540px) {
      background: url('../img/bg/mobile/bg-text-index.svg') 50% 5% no-repeat;
      background-size: 100%;
    }
    @media (min-width: 992px) {
      background: url('../img/bg/desktop/bg-text-index.svg') 50% 40% no-repeat;
      background-size: 65%;
    }
  }
  &.index-logo {
    @media (min-width: 992px) {
      flex-direction: column;
      background: url('../img/icons/logo-bg.svg') 46% 36% no-repeat;
      background-size: 50%;
    }
    @media (min-width: 1200px) {
      background: url('../img/icons/logo-bg.svg') 48% 36% no-repeat;
      background-size: 35%;
    }
  }
}


.header__titlebox {
  @media (min-width: 540px) {
    width: 400px;
    margin: 0 auto;
  }
  @media (min-width: 992px) {
    width: 490px;
  }
}

.header__form {
  padding-top: 90px;
  @media (min-width: 768px) {
    width: 406px;
    margin: 0 auto;
    padding-top: 40px;
  }
  @media (min-width: 992px) {
    padding-top: 0;
  }
}

.header__title {
  margin: 119px auto 50px;
  text-align: center;
  font-weight: 300;
  font-size: 50px;
  line-height: 70px;
  color: #fff;
  @media (min-width: 768px) {
    width: auto;
  }
  @media (min-width: 992px) {
    font-size: 60px;
    line-height: 80px;
    margin: 0 auto;
  }
}