.header {
  .notice {
    display: inline-block;
    background-color: $btn_bg_color;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    padding: 6px 8px;
    line-height: 1;
    text-align: center;
    &:hover {
      background-color: $btn_hover_bg_color;
    }
    @media (min-width: 768px) {
      font-size: 15px;
      padding: 7px 9px;
    }
  }
}
.header_page {
  margin-bottom: 42px;
  @media (min-width: 768px) {
    margin-bottom: 100px;
  }
}

.header__row {
  padding: 32px 15px 0;
  @media (min-width: 768px) {
    padding: 123px 15px 0;
  }
}

.header__nav-toggle {
  padding-left: 10px;
  cursor: pointer;
  &.icon-menu::before {
    content: '';
    display: block;
    width: 23px;
    height: 15px;
    background-image: url('../img/icons/icon-menu.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
  }
  &:hover {
    opacity: 0.75;
  }
  @media (min-width: 768px) {
    & {
      display: none;
    }
  }
}
.header__userinfo {
  display: none;
  padding-left: 24px;
  max-width: 500px;
  @media (min-width: 768px) {
    & {
      display: block;
    }
  }
  .notice {
    position: relative;
    top: -1px;
  }
  .header__userinfo-text,
  a.header__userinfo-text {
    font-family: $font_family;
    font-size: 15px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
  }
}
.header-menu {
  display: none;
  @media (min-width: 768px) {
    display: none !important;
  }
}
.header-menu__wrap {
  padding-top: 32px;
}
.header-menu__item {
  padding: 15px;
  &:hover {
    text-decoration: none;
    .notice {
      background-color: $btn_hover_bg_color;
    }
  }
}
.header-menu__item-text {
  color: #000;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  word-break: break-all;
  padding-right: 30px;
  @media (min-width: 768px) {
    & {
      font-size: 18px;
    }
  }
}

.header__firstscreen {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  &.bg01 {
    background-position: 100%;
  }
  &.bg02 {
    background-position: 100% 15%;
  }
  &.bg03 {
    background-position: 100% 15%;
  }
  @media (min-width: 768px) {
    & {
      background-position: top right !important;
      background-size: 54%;
      position: relative;
    }
  }
  &.bg01 {
    background-image: url('../img/bg/mobile/bg-index-01.jpg');
    @media (min-width: 768px) {
      & {
        background-image: url('../img/bg/desktop/bg-index-01.jpg');
      }
    }
  }
  &.bg02 {
    background-image: url('../img/bg/mobile/bg-index-02.jpg');
    @media (min-width: 768px) {
      & {
        background-image: url('../img/bg/desktop/bg-index-02.jpg');
      }
    }
  }
  &.bg03 {
    background-image: url('../img/bg/mobile/bg-index-03.jpg');
    @media (min-width: 768px) {
      & {
        background-image: url('../img/bg/desktop/bg-index-03.jpg');
      }
    }
  }
  &.bg-login-01 {
    background-image: url('../img/bg/mobile/bg-index-01.jpg');
    @media (min-width: 768px) {
      & {
        background-size: 53%;
        background-image: url('../img/bg/desktop/bg-login-01.jpg');
      }
    }
  }
  &.bg-login-02 {
    background-image: url('../img/bg/mobile/bg-index-02.jpg');
    @media (min-width: 768px) {
      & {
        background-image: url('../img/bg/desktop/bg-login-02.jpg');
      }
    }
  }
  &.bg-login-03 {
    background-image: url('../img/bg/mobile/bg-index-03.jpg');
    @media (min-width: 768px) {
      & {
        background-image: url('../img/bg/desktop/bg-login-03.jpg');
      }
    }
  }
  &.bg-login-04 {
    background-image: url('../img/bg/mobile/bg-index-02.jpg');
    @media (min-width: 768px) {
      & {
        background-image: url('../img/bg/desktop/bg-login-04.jpg');
      }
    }
  }
  &.bg-login-05 {
    background-image: url('../img/bg/mobile/bg-index-03.jpg');
    @media (min-width: 768px) {
      & {
        background-image: url('../img/bg/desktop/bg-login-05.jpg');
      }
    }
  }
}

.header__firstscreen-wrap {
  position: relative;
  z-index: 10;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 180px;
    background-image: url('../img/bg/mobile/bg-main-up.svg');
    background-size: 100% 100%;
    background-position: 0 100%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -2px;
    z-index: -10;
  }
  @media (min-width: 768px) {
    & {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
    &:after {
      content: none;
      display: none;
    }
  }
}

.header__bgimg {
  display: none;
  @media (min-width: 768px) {
    display: inline;
  }
}

.header__titlebox {
  margin-bottom: 20px;
  @media (min-width: 768px) {
    width: 250px;
    margin-bottom: 0;
  }
  @media (min-width: 992px) {
    width: 360px;
  }
}

.header__form {
  padding-top: 48px;
  @media (min-width: 768px) {
    width: 411px;
    padding-top: 15px;
  }
  @media (min-width: 992px) {
    padding-top: 30px;
  }
  @media (min-width: 1920px) {
    padding-top: 131px;
  }
}

.header__title {
  width: 210px;
  margin: 0 auto 40px;
  text-align: center;
  font-family: "ActaDisplay", sans-serif;
  font-weight: 300;
  font-size: 34px;
  line-height: 45px;
  color: #fff;
  &:before {
    @media (min-width: 768px) {
      & {
        content: '';
        display: block;
        width: 60px;
        height: 1px;
        border-top: 3px solid $logo_main_color;
        margin-bottom: 20px;
      }
    }
  }
  @media (min-width: 768px) {
    & {
      width: auto;
      text-align: left;
      margin: 0 0 50px;
    }
  }
  @media (min-width: 992px) {
    & {
      font-size: 45px;
      line-height: 60px;
    }
  }
  @media (min-width: 1200px) {
    & {
      font-size: 67px;
      line-height: 85px;
      margin: 0 0 60px;
    }
  }
  @media (min-width: 1440px) {
    & {
      font-size: 90px;
      line-height: 120px;
    }
  }
}