.login-slider {
  display: flex;
  position: relative;
  margin-top: 38px;
  margin-bottom: 51px;
  justify-content: space-between;
  padding-left: 15px;
  overflow: hidden;
  @media (min-width: 348px) {
    justify-content: space-around;
  }
  @media (min-width: 992px) {
    margin-top: 141px;
    margin-bottom: 114px;
  }
  &.owl-carousel {
    .owl-stage-outer {
      overflow: visible;
    }
  }
}

.header-form-title {
  color: #fff;
  font-weight: 300;
  font-size: 50px;
  line-height: 55px;
  margin-bottom: 30px;
  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 37px;
  }
}