.user-profile-slider {
  width: 100%;
  height: 377px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 0 0 15px;
  z-index: 10;
  .slide {
    width: 290px;
    height: 377px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 17px;
  }
  &.owl-carousel {
    .owl-stage-outer {
      overflow: visible;
    }
    .owl-dots {
      text-align: center;
      position: absolute;
      width: calc(100% - 30px);
      bottom: 34px;
      padding: 0 25px;
    }
    button.owl-dot {
      display: inline-block;
      width: 8px;
      height: 8px;
      background-color: #fff;
      border-radius: 5px;
      +button.owl-dot {
        margin-left: 6px;
      }
      &.active {
        background-color: $logo_main_color;
      }
    }
  }
}

.user-profile-btn {
  position: relative;
  margin-top: -30px;
  z-index: 20;
  @media (min-width: 992px) {
    margin-top: -39px;
  }
}

.user-profile-content {
  @media (min-width: 992px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 780px;
    margin: 0 auto;
  }
}

.user-profile-images {
  @media (min-width: 992px) {
    width: 370px;
    min-width: 370px;
    max-width: 370px;
    margin-right: 68px;
  }
}
.user-profile-photo {
  display: block;
  max-width: 100%;
  height: 490px;
  max-height: 490px;
  border-radius: 22px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  @media (min-width: 992px) {
    height: 490px;
    max-height: 490px;
  }
}
.user-profile-gallery {
  flex-wrap: wrap;
  .user-profile-gallery__item {
    width: 101px;
    height: 106px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 5%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
  }
}

.user-profile-info {
  margin-top: 104px;
  @media (min-width: 768px) {
    margin-top: 130px;
  }
  @media (min-width: 992px) {
    max-width: 340px;
    margin-top: 0;
  }
}
.user-profile-name {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 7px;
  text-align: center;
  letter-spacing: 2px;
  @media (min-width: 992px) {
    font-size: 25px;
    margin-bottom: 9px;
    text-align: left;
    margin-top: 8px;
  }
}
.user-profile-loc {
  font-weight: 300;
  margin-bottom: 31px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  @media (min-width: 992px) {
    font-size: 18px;
    margin-bottom: 55px;
    text-align: left;
  }
}
.user-profile-title {
  font-weight: 400;
  font-size: 13px;
  color: #fff;
  margin-bottom: 26px;
  text-transform: uppercase;
  text-align: center;
  @media (min-width: 992px) {
    font-size: 18px;
    margin-bottom: 23px;
    text-align: left;
  }
}
.user-profile-about {
  font-weight: 300;
  font-size: 14px;
  line-height: 29px;
  color: #fff;
  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 35px;
    margin-top: 52px;
  }
}
.user-profile-about__title {
  display: block;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 23px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  @media (min-width: 768px) {
    display: inline;
    margin-right: 30px;
    margin-bottom: 0;
    text-align: left;
  }
}

.compatibility {
  &.compatibility_mb {
    margin-bottom: 64px;
    @media (min-width: 768px) {
      margin-bottom: 58px;
    }
  }
  .compatibility__chart {
    +.compatibility__chart {
      margin-left: 60px;
      @media (min-width: 768px) {
        margin-left: 55px;
      }
    }
  }
  .compatibility__progress {
    height: 5px;
    border-radius: 0;
    background-color: #252525;
    @media (min-width: 768px) {
      height: 10px;
    }
    .progress-bar {
      background-color: $btn_bg_color;
    }
  }
  .compatibility__title {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    margin-top: 15px;
    @media (min-width: 768px) {
      font-size: 18px;
      margin-top: 22px;
    }
  }
  &.compatibility_list {
    padding: 0 11px 14px;
    @media (min-width: $user_list_item_breakpoint) {
      padding: 0 31px 50px;
    }
    .compatibility__title {
      margin-top: 5px;
      font-size: 7px;
      font-weight: 300;
      @media (min-width: $user_list_item_breakpoint) {
        margin-top: 13px;
        font-size: 15px;
      }
    }
    .compatibility__progress {
      @media (min-width: 768px) {
        height: 5px;
      }
      @media (min-width: 992px) {
        height: 10px;
      }
    }
    .compatibility__chart {
      +.compatibility__chart {
        margin-left: 10px;
        @media (min-width: $user_list_item_breakpoint) {
          margin-left: 20px;
        }
      }
    }
  }

  &.compatibility_login {
    padding: 0 14px 29px;
    @media (min-width: $user_list_item_breakpoint) {
      padding: 0 31px 50px;
    }
    .compatibility__title {
      margin-top: 8px;
      font-size: 13px;
      @media (min-width: $user_list_item_breakpoint) {
        margin-top: 13px;
        font-size: 15px;
      }
    }
    .compatibility__chart {
      +.compatibility__chart {
        margin-left: 10px;
        @media (min-width: $user_list_item_breakpoint) {
          margin-left: 20px;
        }
      }
    }
  }
}